button {
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    outline: none;
    cursor: pointer;
    background-color: cadetblue;
    color: white;
    transition: all 0.2s;
}

button:hover {
    background-color: rgb(68, 112, 114);
}
