.chat {
    position: fixed;
    top: 1em;
    right: 0;
    text-align: left;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 1.5em 0 0 1.5em;
    z-index: 500;

    animation-name: chat-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.chat-bottom-field {
    text-align: center;
}

.chat-input-field {
    width: inherit;
    color: white;
}

.chat-send-btn {
    width: 5em;
    margin-left: 1em;
    margin-top: 1em;
}

.chat-content {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 0;
    height: 20em;
}

.chat-message {
    position: relative;

    padding: 0.2em 0;
    margin-right: 1em;
    border: 0.125em solid rgb(60, 97, 99);
    background-color: cadetblue;
    border-radius: 0 1.5em 1.5em 1.5em;
    color: black;
    margin-bottom: 1em;
    width: inherit;

    animation-name: chat-msg-in;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.own-chat-message {
    border-radius: 1.5em 0 1.5em 1.5em;
    animation-name: own-chat-msg-in;
}

.chat-message-content {
    margin: 0.5em 0 0.5em 0.5em;
    width: 18vw;
}

.chat-message-timestamp {
    width: inherit;
    text-align: right;
    margin-right: 1em;
}

@keyframes chat-in {
    0% {
        right: -15%;
    }
    100% {
        right: 0;
    }
}

@keyframes chat-msg-in {
    0% {
        left: -15em;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes own-chat-msg-in {
    0% {
        right: -15em;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}
