button {
    padding: 0.5em;

    border: none;
    border-radius: 8px;

    background-color: var(--button-background);
    color: var(--button-foreground);

    cursor: pointer;

    transition: all 0.2s;
    outline: none;
}

button:hover {
    background-color: var(--button-hover-background);
}

button:disabled {
    background-color: var(--button-disabled-background);
    color: var(--button-disabled-foreground);
}
