input {
    width: unset;
    border: none;
    border-bottom: 0.125rem solid var(--input-border-bottom);
    outline: none;

    background: transparent;

    text-align: center;

    transition: all 0.2s;
}

input:focus {
    border-bottom: 0.125rem solid var(--input-focus-border-bottom);
}


.link {
    width: 20em;
    color: var(--link-foreground);  
    border: 3px solid var(--link-border);
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    border: 3px solid var(--link-hover-border)
}
