input {
    width: 25rem;
    border: none;
    border-bottom: 0.125rem solid #777;
    outline: none;

    background: transparent;

    text-align: center;

    transition: all 0.2s;
}

input:focus {
    border-bottom: 0.125rem solid slateblue;
}


.link {
    width: 20em;
    color: white;
    border: 3px solid cadetblue;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

.link:focus {
    border: 3px solid cadetblue;
}
