.theme {
    --background-color: rgb(124, 79, 27);

    --error: rgb(160, 0, 0);

    --button-foreground: white;
    --button-background: cadetblue;
    --button-hover-background: rgb(70, 112, 112);
    --button-disabled-foreground: gray;
    --button-disabled-background: rgb(47, 75, 75);

    --input-border-bottom: #777;
    --input-focus-border-bottom: cadetblue;

    --link-foreground: white;
    --link-border: cadetblue;
    --link-hover-border: rgb(77, 128, 129);
}