.user-image {
    width: 5em;
}

.heart {
    width: 2em;
}

#continue-button {
    margin-top: 1em;
}

.role-description {
    margin: 0 20vw;
}

.clickable {
    cursor: pointer;
}

.users {
    margin-top: 19em;
}

.user-field {
    text-align: left;
}

.user-field div {
    text-align: center;
}

.game-won {
    color: darkgreen;
}

.game-lost {
    color: darkred;
}
