#continue-button {
    margin-top: 1em;
}

.role-description {
    margin: 0 20vw;
}

.clickable {
    cursor: pointer;
}

.users {
    margin-top: 19em;
}

.user-field {
    text-align: left;
}

.user-field div {
    text-align: center;
}

.game-end {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 1000%;
    font-size: 5em;
    background: rgba(0, 0, 0, 0.5);
}

.game-end div {
    margin-top: 30vh;
}

.game-won {
    color: darkgreen;
}

.game-lost {
    color: darkred;
}

.background-darken {
    position: fixed;
    top: -100%;
    left: 0;
    width: 10000%;
    height: 10000%;
    margin-top: 15em;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    transition: all 1s;
}
