.game-user-list {
    position: absolute;
    width: 60%;
    left: 0;
}

.game-player {
    display: inline-block;
}

.game-player img {
    width: 7em;
}

.ingame-settings-info {
    position: absolute;
    text-align: center;
    left: 40vw;
    font-size: large;
    top: 30vh;
}

.game-info-inline {
    display: inline-block;
}
