.user-list {
    margin-top: 1em;
    width: 50%;
}

.user-element {
    display: inline-block;
    margin: 0 0.5em;
}

.user-element img {
    width: 5em;
    pointer-events: none;
}

.user-name {
    position: relative;
    top: -0.25em;
}

#game-settings {
    position: absolute;
    text-align: right;
    left: 50vw;
    font-size: large;
    top: 30vh;
}

.game-settings-role {
    margin-top: 0.5em;
}

.game-settings-role-value::-webkit-outer-spin-button,
.game-settings-role-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.game-settings-role-value {
    -moz-appearance: textfield;
    width: 2em;
    height: 1.75em;
    margin-left: 0.5em;
}

.checkbox-settings {
    margin-top: 1em;
    margin-left: 1em;
}

.start-game-btn {
    margin-top: 1em;
}

.link-input {
    margin-top: 1em;
    border: 0.2em solid orange;
    padding: .25em;
    color: white;
    text-decoration: underline;
    width: 22em;
    cursor: pointer;
}

.link-input:hover {
    border: 0.2em solid rgb(187, 121, 0);
}

.link-input:focus {
    border: 0.2em solid orange;
}
